*~

#kdevelop
*.kdev4

# cmake build dirs
release/
Release/
debug/
Debug/
build/
Build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
